In [ ]:
#PROGRAM TO READ TWO INTEGER VALUES AS INPUT FROM YHE USER AND FIND THE SUMMATION OF IT.
num1=int(input(" enter the first number:"))
num2=int(input(" enter the second number:"))
print(f"summation:{num1+num2}")

 enter the first number:4
 enter the second number:7
summation:11

In [ ]:
#PROGRAM TO READ AN INTEGER VALUE TO CHECK WHETHER IT IS A DIGIT OR NUMBER.
num=int(input(" enter the integer :"))
if(num>=-9 and num<=9):
    print("Digit")
else:
    Print("number")

 enter the integer :6
Digit

In [ ]:
#PROGRAM TO READ AN INTEGER FROM THE USER AND CHECK WHETHER IT IS A TWO DIGIT NUMBER OR NOT.
num=int(input(" enter the integer :"))
if(num>=10 and num<=99 or (num>=-10 and num<=-99)):
    print("two digit number")
else:
    print("not a two digit number")

 enter the integer :108
not a two digit number

In [ ]:
#PROGRAM TO READ AN INTEGER FROM THE USER AND CHECK WHETHER IT IS A THREE DIGIT NUMBER OR NOT.
num=int(input(" enter the integer :"))
if(num>=100 and num<=999 or (num>=-100 and num<=-999)):
    print("three digit number")
else:
    print("not a three digit number")

 enter the integer :956
three digit number

In [ ]:
#PROGRAM TO READ AN INTEGER FROM THE USER AND CHECK WHETHER IT IS A FOUR DIGIT NUMBER OR NOT.
num=int(input(" enter the integer :"))
if(num>=1000 and num<=9999 or (num>=-1000 and num<=-9999)):
    print("four digit number")
else:
    print("not a four digit number")

 enter the integer :10000
not a four digit number

In [ ]:
#PROGRAM TO READ THE INPUT FROM THE USER AND FIND THE LARGEST NUMBER .
num1=int(input(" Enter the first integer:"))
num2=int(input ("Enter the second integer:"))
if(num1>num2):
   print(f"{num1} is largest number")
else:
   print(f"{num2} is largest number")

 Enter the first integer:34
Enter the second integer:24
34 is largest number

In [ ]:
res=num1 if ( num1> num2) else num2
print(f"{res} is largest number")

34 is largest number

In [ ]:
#PROGRAM TO READ THE INPUT FROM THE USER AND FIND THE SMALLEST NUMBER.
num1=int(input(" Enter the first integer:"))
num2=int(input ("Enter the second integer:"))
if(num1<num2):
   print(f"{num1} is smallest number")
else:
   print(f"{num2} is smallest number")

 Enter the first integer:5
Enter the second integer:10
5 is smallest number

In [ ]:
#PROGRAM TO READ THE INPUT FROM THE USER AND FIND THE GREATEST NUMBER USING IF ELSE OR TERNARY OPERATOR.
num1=int(input(" Enter the first integer:"))
num2=int(input ("Enter the second integer:"))
num3=int(input ("Enter the third integer:"))

if(num1>num2 and num1>num3):
   print(f"{num1} is greatest number")
elif(num2>num1 and num2>num3):
   print(f"{num2} is greatest number")
else:
   print(f"{num3} is greatest number")

 Enter the first integer:4
Enter the second integer:5
Enter the third integer:8
8 is greatest number

In [ ]:
largest=num1 if(num1>num2 and num1>num2) else num2
res= num3 if(num3>num1 and num3>num2) else largest
print(f"{res} is greatest number")

8 is greatest number

In [ ]:
#PROGRAM TO READ THE INPUT FROM THE USER AND FIND THE SMALLEST NUMBER USING IF ELSE OR TERNARY OPERATOR.
num1=int(input(" Enter the first integer:"))
num2=int(input ("Enter the second integer:"))
num3=int(input ("Enter the third integer:"))

if(num1<num2<num3 and num1num2):
   print(f"{num1} is smallest number")
elif(num2<num1 and num2<num3):
   print(f"{num2} is smallest number")
else:
   print(f"{num3} is smallest number")

smallest=num1 if(num1<num2 and num1<num2) else num2
res= num3 if(num3<num1 and num3<num2) else smallest
print(f"{res} is smallest number")

In [ ]:
#PROGRAM TO READ THE MONTH NUMBER AS INPUT FROM THE USER AND CHECK WHETHER IT IS A VALID MONTH NUMBER OR NOT.
num=int( input (" Enter the month number"))
if (num >=1 and num<=12):
  print( "month is  valid")
else:
  print("not a valid month")

res="month is valid" if (num >=1 and num<=12) else "not a valid month"
print(res)

 Enter the month number4
month is  valid
month is valid

In [ ]:
#PROGRAM TO READ THE MONTH NUMBER AS INPUT FROM THR USER AND PRINT THE RESPECTIVE NUMBER OF DAYS PRESENT IN THAT PARTICULAR MONTH.
m= int(input(" enter the integer:"))
if( m==1 or m==5 or m==7 or m==8 or m==10 or m==12):
  print(" 31 days")
elif(m==2):
  print(" 28 or 29 days")
elif("m==2 or m==3 or m==4 or m==6 or m==9"):
  print(" 30 days")

 enter the integer:6
 30 days

In [ ]:
#PROGRAM TO CHECK WHETHER THE USER ENTERED AGE IS ELIGIBLE OR NOT.
age=int(input(" enter the age:"))
if (age>=18 and age<=100):
  print(" eligible to vote")
else:
  print(" not eligible to vote")

 enter the age:56
 eligible to vote

In [ ]:
#READ AN INPUT FROM THE USER AND CHECK WHETHER IT IS EVEN OR NOT.
num=int(input(" Enter the integer:"))
if ( num%2==0):
  print(" even number")
else:
  print(" not an even number")

 Enter the integer:35
 not an even number

In [ ]:
#PROGRAM TO READ AN INTEGER VALUE AS INPUT FROM THE USER AND CHECK WHETHER IT IS A MULTIPLE OF 3 AND 5 OR NOT.
num=int(input(" Enter the integer:"))
if( num%3==0 and num%5==0):
  print("multiple of 3 and 5")
else:
  print("not a multiple of 3 and 5")

 Enter the integer:56
not a multiple of 3 and 5

In [ ]:
#PROGRAM TO READ AN INTEGER VALUE AS INPUT AND PRINT FIZZBUZZ IF IT IS DIVIDED BY 3 AND 5.
num=int(input(" Enter the integer:"))
if( num%3==0 and num%5==0):
  print("FIZZ BUZZ")
elif(num%3==0):
  print("FIZZ")
elif(num%5==0):
  print("BUZZ")

 Enter the integer:15
FIZZ BUZZ

In [ ]:
#PROGRAM TO READ THE AMOUNT AS INPUT FROM THE USER AND PRINT NUMBER OF NOTES REQUIRED IN INDIAN CURRENCY DIMENSION.
amount=int(input(" Enter the integer:"))
print(f" 500--------->{amount//500}")
amount=amount%500
print(f" 200--------->{amount//200}")
amount=amount%200
print(f" 100--------->{amount//100}")
amount=amount%100
print(f" 50--------->{amount//50}")
amount=amount%50
print(f" 20--------->{amount//20}")
amount=amount%20
print(f" 10--------->{amount//10}")
amount=amount%10
print(f" 5--------->{amount//5}")
amount=amount%5
print(f" 2--------{amount//2}")
amount=amount%2
print(f" 1--------{amount//1}")
amount=amount%1

 Enter the integer:123456
 500--------->246
 200--------->2
 100--------->0
 50--------->1
 20--------->0
 10--------->0
 5--------->1
 2--------0
 1--------1

In [ ]:
#ATM WITHDRAW VALIDATION
amount=int(input("enter the withdraw amount"))
if(amount<=5000 and amount%100==0):
  print("allow to withdraw")
else:
  print("insufficient balance")

enter the withdraw amount5500
insufficient balance

In [ ]:
#middle number
a = int(input("Enter the first integer: "))
b = int(input("Enter the second integer: "))
c = int(input("Enter the third integer: "))

# Finding the middle number
if (a > b and a <= c) or (a <= b and a >= c):
    middle = a
elif (b >= a and b <= c) or (b <= a and b >= c):
    middle = b
else:
    middle = c

print("The middle number is:",middle)

Enter the first integer: 10
Enter the second integer: 38
Enter the third integer: 45
The middle number is: 38

In [ ]:
#traffic signal decision
colour=input("enter the signal colour").lower()
if colour=='red':
  print('stop immediately')
elif colour=='yellow':
  print('get ready to move')
elif colour=='green':
  print('you can move')
else:
  print('invalid colour')

enter the signal colourred
stop immediately

In [ ]:
#movie ticket pricing
age=int(input("enter the age:"))
if(age<12):
  print("the price of the person is 150rs")
elif(age>=12 and age<=18):
  print("the price of the teenagers is 200rs")
elif(age>=18):
  print("the price of the person is 300rs")
else:
  print("invalid age")

enter the age:12
the price of the teenagers is 200rs

In [ ]:
#employee overtime pay
time=int(input("enter the no of hours per day"))
if(time>=8):
  print("100rs per extra hour")
else:
  print("no over time pay")

enter the no of hours per day9
100rs per extra hour

In [ ]:
#water remainder app
time=int(input("enter the number of hours since the user last drank water"))
if(time>=4):
  print("you are dehydrated !Drink water now!")
elif(time>=2 and time<=3):
   print("drink a glass of water")
elif(time<=2 ):
   print("you are fine")

enter the number of hours since the user last drank water5
you are dehydrated !Drink water now!

In [ ]:
#restaurent discount system
bill=int(input("enter the bill"))
if(bill>1000):
   print(f"{bill-((10/100)*bill)} is the final amount")
elif(bill>500 and bill<=1000):
   print(f"{bill-((5/100)*bill)} is the final amount")
else:
  print("no discount")

enter the bill8700
7830.0 is the final amount

In [22]:
List=[10,20,30,40,50]
Tuple=(10,20,30,40)
Set={10,20,30,40,50}
print(List)
print(Tuple)
print(Set)
print(type(List))
print(type(Tuple))
print(type(Set))

[10, 20, 30, 40, 50]
(10, 20, 30, 40)
{50, 20, 40, 10, 30}
<class 'list'>
<class 'tuple'>
<class 'set'>

In [ ]:
#for loop syntax
for element in sequence:
  body of for loop

In [23]:
#range(stop)
#range(start,stop)
#range(start,stop,stepsize)
R1=range(10)
print(R1)
print(type(R1))

range(0, 10)
<class 'range'>

In [24]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [25]:
for i in range(10,20):
  print(i)

10
11
12
13
14
15
16
17
18
19

In [26]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [34]:
#python program to print the natural numbers from 1 to n where n is the users input.
n=int(input("enter the integer value:"))
print(f"natural numbers from 1 to{n}:")
for i in range (1,n+1):
  print(i)

enter the integer value:30
natural numbers from 1 to30:
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [37]:
#python program to print natural numbers from n to 1.
n=int(input("enter the integer value:"))
print(f"natural numbers from 1 to{n}:")
for i in range (n,0,-1):
  print(i)

enter the integer value:20
natural numbers from 1 to20:
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [38]:
#pythom program to print even numbers from 1 to n.
n=int(input("enter the integer value:"))
print(f"even numbers from 1 to{n}:")
for i in range (2,n+1,2):
  print(i)

enter the integer value:30
even numbers from 1 to30:
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [41]:
#python program to print even numbers from n to 1
n=int(input("enter the integer value:"))
print(f"even numbers from 1 to{n}:")
for i in range (n,0,-1):
   if(i%2==0):
      print(i)

enter the integer value:25
even numbers from 1 to25:
24
22
20
18
16
14
12
10
8
6
4
2

In [45]:
#python program to print odd numbers from 1 to n
n=int(input("enter the integer value:"))
print(f"odd numbers from 1 to{n}:")
for i in range (1,n,2):
  print(i)

enter the integer value:20
odd numbers from 1 to20:
1
3
5
7
9
11
13
15
17
19

In [47]:
#odd numbers from n to 1.
n=int(input("enter the integer value:"))
print(f"odd numbers from 1 to{n}:")
for i in range (n,0,-1):
   if(i%2==1):
      print(i)

enter the integer value:40
even numbers from 1 to40:
39
37
35
33
31
29
27
25
23
21
19
17
15
13
11
9
7
5
3
1

In [49]:
#program to print multiplication table of n.
n=int(input("enter the value of n:"))
print("multiplication table of{n}:")
for i in range(1,11):
  print(f"{n}*{i}={n*i}")

enter the value of n:18
multiplication table of{n}:
18*1=18
18*2=36
18*3=54
18*4=72
18*5=90
18*6=108
18*7=126
18*8=144
18*9=162
18*10=180